@model HistoryMvc.Models.PlanetPageViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="label label-warning">Non-Ajax</span>
@Html.Partial("_List", Model)
